* {
    box-sizing: border-box;
}
@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}
html, body{/*reset untuk margin dan padding*/
    margin: 0;
    padding: 0;
    /* background-color: rgba(106, 178, 207, 0.856); */
    
}
.semua1{
    transition: 0.4s;
    background-color:#1a191c;
}
.semua{
    transition: 0.4s;
    padding-top: 2px;
    background-color: rgba(106, 178, 207, 0.856);
    width: 1350px;
    height: auto;
}
.navbar{
    color: #5a7aaa;
    /* background-color: #f1b940; */
    width: 100%;
    height: 40px;
    margin-top: 0;
    /* position: sticky; */
    top: 0px;
    /* transition: top .3s ease; */
    
}
.ulnav{
    justify-content: space-between;
    list-style: none;
    margin-left: 650px;
}
.navbar li{
    
    margin-top: 10px;
    float: left;
    margin-left: 6%;
}
.navbar ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    display: block;
}
/* .navbar ul a{
    color: antiquewhite;
} */
.navbar ul a{
    text-decoration: none;
    color: rgb(15, 23, 39);
    margin-right: 1rem;
}
.navbar li a:hover{
    border-bottom: 2px solid;
}
.text-1{
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Jost', sans-serif;
    font-size: 50px;
}
.text-2{
    margin-left: 20px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Gantari', sans-serif;
    font-size: 20px;
    line-height: 35px;
    /* color: rgba(0, 0, 0, 0.521); */
}
.konten{
    width: 450px;
}
.cari{
    margin-left: 20px;
    margin-bottom: 30%;
    position: relative;
    width: 440px;
    height: 45px ;
    border: 4px solid #5a53c5;
    padding: 0;
    border-radius: 50px;
}
/* .cari-content{
    width: 100%;
    height: 100%;
    vertical-align: middle;
} */
.search{
    margin-top: 2px;
    border: none;
    height: 100%;
    width: 100%;
    margin-right: 130px;
    padding:  3px 15px 10px;
    border-radius: 50px;
    font-family: Nunto;
    background-color:transparent;
    font-weight: 500;
    font-size: 18px;
    
}
.search:focus{
    outline: none;
}

.material{
    font-size: 26px;
    color: #2980b9;
}
.material img{
    height: 1px;
}

.konten-kiri{
    position: absolute;
    left: 700px;
    top: 100px;
    width: 540px;
    height: 300px;
    border-radius: 20px 100px 20px 100px;
    background-image: url("https://iili.io/sUlsA7.jpg");
    background-repeat: no-repeat;
}
.quotes{
    font-family: 'Gantari', sans-serif;
    text-shadow: 0px 10px 8px black;
    color: rgba(255, 255, 255, 0.781);
    font-size: 40px;
}
.flex-gambar{
    margin-left: 7px;
    display: flex;
    width: 100%;
    /* background-color: #2980b9; */
    
}
.flex-gambar img{
    margin-top: 1px;
    height: 350px;
    
}
.flex-gambar div{

    height: 360px;
    text-align: center;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.295);
    margin: 10px;

}
.judul{
    margin-bottom: 8px;
    text-align: left;
}
.nama-penerbit{
    font-size: 14px;
    text-align: left;
    margin: 0 0 12px 0;   
}
.harga{
    text-align: left;
    margin: 0;
    font-size: 14px;
}

.top-seller{
    display: flex;
    background-color: #5a53c5;
    height: 100%;
    margin-top: 160px;
}
.top-seller img{
    margin-left: 240px;
    height: 540px;
}
.conten-seller{
    margin-top: 80px;
    margin-left: 28px;
}
.text-seller{
    margin: 0;
    font-size: 48px;
}
.judul-seller{
    font-size: 25px;
}
.build-book{
    margin-top: 20px;
    font-size: 15px;
}
.beli-sekarang{
    margin-top: 20px;
    text-align: center;
    width: 120px;
    height: 40px;
    background-color: #f1b940;
    box-shadow: #769bd3;
    border-radius: 3px;
}
.buy-now a{
    text-decoration: none;
    color: white;
}
.buy-now a:hover{
    transform: scale(1.1);  
}
.beli-sekarang:hover{
    background-color: #a594f3;
}
.buy-now{
    position: relative;
    top: 10px;
}
.konten-bawah h4{
    font-family: 'Acme', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
}
.konten-bawahlagi h1{
    font-family: 'Acme', sans-serif;
    font-size: 32px;
}
.konten-bawahlagi ul{
    display: flex;
    text-align: center;
    
}
.konten-bawahlagi li{
    margin-right: 0;
    float: left;
    font-size: 20px;
}
.konten-bawahlagi ul li{
    font-family: 'Poppins', sans-serif;
    margin-right: 10%;
    
    text-align: center;
    display: block;
    /* position: absolute;
    font-size: 90px; */
}
.konten-bawahlagi ul a{
    text-decoration: none;
    color: black;
}
.konten-bawahlagi ul a:hover{
    border-bottom: 2px solid;
}
.flex-buku-populer{
    margin-top: 40px;
    display: flex;
    
}
.flex-buku-populer div{
    height: 440px;
    width: 180px;
    border-radius: 16px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.295);
    margin-left: 3%;
}
.flex-buku-populer img{
    margin-left: 7%;
    margin-top: 6px;
    width: 88%;
    height: 53%;
}
.beli-sekarang-2{
    background-color: #7e5600;
    margin: 0;
    height: 2px;
}
.judul-1{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    margin-left: 7%;
}
.pembuat-book-1{
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    margin-left: 7%;
}
.harga-book-2{
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
    font-size: 14px;
    margin-left: 7%;
}
.lihat-buku{
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.23);
    margin-top: 0;
    margin-left: 4%;
    width: 160px;
    border-radius: 10px;
    background-color: #f1b940;
    padding: 6px;
    text-align: center;
}
.lihat-buku a{
    font-family: 'Karla', sans-serif;
    color: white;
    text-decoration: none;
}
.buy-1{
    margin-bottom: 8px;
    margin-left: 6%;
    border-radius: 8px;
    background-color: #f1b940;
    width: 100px;
    padding: 2%;
    text-align: center;
}
.buy-1 a{
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    color: white; 
    margin-left: 2px;
    text-decoration: none;
}
.buy-1:hover{
    transition: transform .5s ease;
    transform: scale(1.1);
    background-color: #ffe388;
}
.topmarkotop{
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    font-size: 30px;
    

}

.top-seller-2{
    display: flex;
    background-color:#5a53c5;
    margin-top: 50px;
    height: 1200px;
    /* height: 1200px; */
    
    /* padding-bottom: 44%; */
}
.top-seller-2 h3{
    font-size: 10px;
}
.top-seller-2 div{
    width: 270px;
    height: 400px;
    margin-top: 60px;
    margin-left: 140px;
    /* background-color: #ffe388; */
}
.judul-top-seller{
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 30px;
}
.nama-top-seller{
    margin-bottom: 8px;
    margin-top: 1px;
    font-size: 18px;
}
.ringkas-buku-2{
    line-height: 19px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 4px;
}
.ringkas-buku{
    line-height: 19px;
    font-family: 'Karla', sans-serif;
    margin-top: 2px;
    margin-bottom: 6px;
}
.harga-top-seler{
    font-family: 'Karla', sans-serif;
    margin-top: 0px;
    margin-bottom: 6px;
}
.buy-top-seller{
    margin-top: 1px;
    border-radius: 8px;
    background-color: #f1b940;
    width: 100px;
    height: 30px;
}
.buy-top-seller a{
    
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    color: white;
    position: relative;
    top: 4px;
    left: 4px;
    text-decoration: none;
}
.buy-top-seller:hover{
    transition: transform .5s ease;
    transform: scale(1.1);
    background-color: #ffe388;
}
.top-seller-2 img{
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.23);
}


.judul-top-seller-2{
    font-family: 'Karla', sans-serif;
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 30px;
}
.nama-top-seller-2{
    font-family: 'Karla', sans-serif;
    margin-top: 2px;
    font-size: 18px;
}
.buy-top-seller-2{
    
    border-radius: 8px;
    background-color: #f1b940;
    width: 100px;
    height: 30px;
}
.buy-top-seller-2 a{
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    color: white;
    position: relative;
    top: 4px;
    left: 4px;
    text-decoration: none;
}
.buy-top-seller-2:hover{
    transition: transform .5s ease;
    transform: scale(1.1);
    background-color: #ffe388;
}

.footer{
    position: fixed;
    text-align: center;
    background-color: rgb(56, 71, 121);
    line-height: 20px;
    
    width: 100%;
    height: 28px;
    bottom: 0px;    
}
.footer h3{
    margin-top: 0;
    position: relative;
    top: 6px;
}

/* Mode Malam */
.dark-mode, .ulnav ul a  {
    color: white;
}
html {  
    transition: 0.4s;
}


.toggle {
    position: relative;
    left: 20px;
    top: 40px;
    width: 50px;
    height: 25px;
    border-radius: 18px;
    display: flex;
    text-align: center;
    cursor: pointer;
    align-items: center;
    background: black;
    color: white;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    transform: translateX(3px);
    transition: 0.4s;
    position: absolute;
    background: white;
}
.dark-mode .circle {
    transform: translateX(23px)
}

.toggle-moon, .toggle-sun {
    width: 50%;
}
.dark-mode .circle {
    transform: translateX(23px)
}

/* BUTTONNNNNN SELENGKPANYA */
#lihat_selengkapnya, #lihat_selengkapnya2, #lihat_selengkapnya3{
    cursor: pointer;
    border-color:#f1b940;
    background-color: #f1b940;
    margin-bottom: 8px;
    border-radius: 7px;
    height: 28px;
}
#selengkapnya1, #selengkapnya2, #selengkapnya3{
    line-height: 19px;
    position: relative;
    top: -3px;
    margin-top: 0;
    font-family: 'Karla', sans-serif;
}





/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
@media only screen and (min-width: 600px) {
    
}
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }